* {
  /* background-color: aqua; */
  box-sizing: border-box;
}

#login {
  position: center;
  margin-top:300px;
}

#createUserBox {
  position: center;
  margin-top:300px;
}


.createUser {
  margin-top: 10px;
}

#feedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin: 100px;
  margin-left: 200px;
  margin-right: 200px;
  border-style: solid;
  border-color: black;
}

.post {
  max-width: 80%;
  min-width: 80%;
  margin: 10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: black;
  padding: 5px;
}
